@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger display-1 fw-bold">Error</h1>
<h2 class="text-danger display-4 fw-bold">401 Unauthorized</h2>

<p class="text-light mt-5 h3">Please contact your administrator.</p>
